{% extends "analyst/base.html" %}

{% block title %}Diccionario Planilla Validadora{% endblock %}

{% block content %}

<div class="min-h-screen flex flex-col items-center p-6 bg-gray-50">
  <!-- Título y botón alineados horizontalmente -->
  <div class="w-full max-w-4xl flex items-center justify-between mb-10">
    <h2 class="text-2xl font-semibold text-gray-800">📒 Diccionario "Planilla Validadora"</h2>
    
  </div>

  <div class="w-full max-w-4xl bg-white rounded-2xl shadow-lg px-4 py-2">
    
    <table class="w-full text-sm text-left text-gray-700 table-auto">
      <thead class="bg-white text-left border-b border-gray-200">
        <tr>
          <th class="py-3 px-4 whitespace-nowrap w-1/3">Campo</th>
          <th class="py-3 px-4 whitespace-nowrap w-1/3">Tipo de Dato</th>
          <th class="py-3 px-4 whitespace-nowrap w-1/3">Rango de Valores</th>
        </tr>
      </thead>
      <tbody class="divide-y divide-gray-100">
        <tr><td class="py-2 px-4 font-semibold">CODIGO_ESTABLECIMIENTO</td><td class="capitalize">Numerico</td><td>1000000 - 16999999</td></tr>
            <tr><td class="py-2 px-4 font-semibold">ANIO</td><td class="capitalize">Numerico</td><td></td></tr>
            <tr><td class="py-2 px-4 font-semibold">MES</td><td class="capitalize">Numerico</td><td>1 al 12</td></tr>
            <tr><td class="py-2 px-4 font-semibold">RUT</td><td class="capitalize">Texto</td><td>12345678-9</td></tr>
            <tr><td class="py-2 px-4 font-semibold">NOMBRE</td><td class="capitalize">Texto</td><td></td></tr>
            <tr><td class="py-2 px-4 font-semibold">APELLIDO_PATERNO</td><td class="capitalize">Texto</td><td></td></tr>
            <tr><td class="py-2 px-4 font-semibold">APELLIDO_MATERNO</td><td class="capitalize">Texto</td><td></td></tr>
            <tr><td class="py-2 px-4 font-semibold">FECHA_NACIMIENTO</td><td class="capitalize">Fecha</td><td>dd-mm-yyyy</td></tr>
            <tr><td class="py-2 px-4 font-semibold">CARGO</td><td class="capitalize">Texto</td><td></td></tr>
            <tr><td class="py-2 px-4 font-semibold">FUNCION</td><td class="capitalize">Texto</td><td></td></tr>
            <tr><td class="py-2 px-4 font-semibold">GRUPO</td><td class="capitalize">Texto</td><td></td></tr>
            <tr><td class="py-2 px-4 font-semibold">NIVEL_ATENCION</td><td class="capitalize">Texto</td><td></td></tr>
            <tr><td class="py-2 px-4 font-semibold">FECHA_INGRESO_SISTEMA_ESCOLAR</td><td class="capitalize">Fecha</td><td></td></tr>
            <tr><td class="py-2 px-4 font-semibold">ANIOS_SERVICIO_CON_EMPLEADOR</td><td class="capitalize">Numerico</td><td></td></tr>
            <tr><td class="py-2 px-4 font-semibold">FECHA_ESTABLECIDA_CONTRATO</td><td class="capitalize">Fecha</td><td></td></tr>
            <tr><td class="py-2 px-4 font-semibold">JORNADA_HORAS</td><td class="capitalize">Numerico</td><td></td></tr>
            <tr><td class="py-2 px-4 font-semibold">PLAZO_CONTRATO</td><td class="capitalize">Texto</td><td></td></tr>
            <tr><td class="py-2 px-4 font-semibold">TIPO_CONTRATO</td><td class="capitalize">Texto</td><td></td></tr>
            <tr><td class="py-2 px-4 font-semibold">NIVEL_EDUCACIONAL</td><td class="capitalize">Texto</td><td></td></tr>
            <tr><td class="py-2 px-4 font-semibold">TITULO</td><td class="capitalize">Texto</td><td></td></tr>
            <tr><td class="py-2 px-4 font-semibold">INSTITUCION_ACADEMICA</td><td class="capitalize">Texto</td><td></td></tr>
            <tr><td class="py-2 px-4 font-semibold">DIAS_LICENCIA_MEDICA</td><td class="capitalize">Numerico</td><td></td></tr>
            <tr><td class="py-2 px-4 font-semibold">DIAS_SIN_GOCE_SUELDO</td><td class="capitalize">Numerico</td><td></td></tr>
            <tr><td class="py-2 px-4 font-semibold">TOTAL_DIAS_TRABAJADOS</td><td class="capitalize">Numerico</td><td></td></tr>
            <tr><td class="py-2 px-4 font-semibold">TOTAL_DIAS_PAGADOS</td><td class="capitalize">Numerico</td><td></td></tr>
            <tr><td class="py-2 px-4 font-semibold">REMUNERACIONES_INCLUYE_BONOS_Y_ASIGNACIONES_PACTADAS</td><td class="capitalize">Numerico</td><td></td></tr>
            <tr><td class="py-2 px-4 font-semibold">MOVILIZACION_MAS_COLACION</td><td class="capitalize">Numerico</td><td></td></tr>
            <tr><td class="py-2 px-4 font-semibold">MES_Y_ANIO_INICIO_PAGO</td><td class="capitalize">Fecha</td><td></td></tr>
            <tr><td class="py-2 px-4 font-semibold">ASIGNACION_MENSUAL_SOLICITADA_DE_CD</td><td class="capitalize">Numerico</td><td></td></tr>
            <tr><td class="py-2 px-4 font-semibold">SUELDO_BASE</td><td class="capitalize">Numerico</td><td></td></tr>
            <tr><td class="py-2 px-4 font-semibold">HORAS_EXTRAS</td><td class="capitalize">Numerico</td><td></td></tr>
            <tr><td class="py-2 px-4 font-semibold">ANTIGUEDAD_BIENIOS</td><td class="capitalize">Numerico</td><td></td></tr>
            <tr><td class="py-2 px-4 font-semibold">INCENTIVO</td><td class="capitalize">Numerico</td><td></td></tr>
            <tr><td class="py-2 px-4 font-semibold">ASIGNACION_RESPONSABILIDAD</td><td class="capitalize">Numerico</td><td></td></tr>
            <tr><td class="py-2 px-4 font-semibold">RELIQUIDACIONES</td><td class="capitalize">Numerico</td><td></td></tr>
            <tr><td class="py-2 px-4 font-semibold">INCREMENTOS_JUNJI</td><td class="capitalize">Numerico</td><td></td></tr>
            <tr><td class="py-2 px-4 font-semibold">AGUINALDO</td><td class="capitalize">Numerico</td><td></td></tr>
            <tr><td class="py-2 px-4 font-semibold">ASIGNACION_ZONA_EXTREMA</td><td class="capitalize">Numerico</td><td></td></tr>
            <tr><td class="py-2 px-4 font-semibold">BONO</td><td class="capitalize">Numerico</td><td></td></tr>
            <tr><td class="py-2 px-4 font-semibold">OTROS_AJUSTES</td><td class="capitalize">Numerico</td><td></td></tr>
            <tr><td class="py-2 px-4 font-semibold">ESPECIFIQUE</td><td class="capitalize">Texto</td><td></td></tr>
            <tr><td class="py-2 px-4 font-semibold">BONO_VACACIONES_FISCAL</td><td class="capitalize">Numerico</td><td></td></tr>
            <tr><td class="py-2 px-4 font-semibold">BONO_TERMINO_CONFLICTO_FISCAL</td><td class="capitalize">Numerico</td><td></td></tr>
            <tr><td class="py-2 px-4 font-semibold">AGUINALDO_2</td><td class="capitalize">Numerico</td><td></td></tr>
            <tr><td class="py-2 px-4 font-semibold">BONO_ESCOLAR</td><td class="capitalize">Numerico</td><td></td></tr>
            <tr><td class="py-2 px-4 font-semibold">MOVILIZACION</td><td class="capitalize">Numerico</td><td></td></tr>
            <tr><td class="py-2 px-4 font-semibold">BONO_2</td><td class="capitalize">Numerico</td><td></td></tr>
            <tr><td class="py-2 px-4 font-semibold">COLACION</td><td class="capitalize">Numerico</td><td></td></tr>
            <tr><td class="py-2 px-4 font-semibold">ASIGNACIONES_FAMILIARES</td><td class="capitalize">Numerico</td><td></td></tr>
            <tr><td class="py-2 px-4 font-semibold">ASIGNACION_LEY_20905</td><td class="capitalize">Numerico</td><td></td></tr>
            <tr><td class="py-2 px-4 font-semibold">OTROS_AJUSTES_2</td><td class="capitalize">Numerico</td><td></td></tr>
            <tr><td class="py-2 px-4 font-semibold">ESPECIFIQUE_2</td><td class="capitalize">Texto</td><td></td></tr>
            <tr><td class="py-2 px-4 font-semibold">ASIGNACION_CARRERA_DOCENTE_PAGADA</td><td class="capitalize">Numerico</td><td></td></tr>
            <tr><td class="py-2 px-4 font-semibold">SUELDO_BRUTO_O_TOTAL_HABERES</td><td class="capitalize">Numerico</td><td></td></tr>
            <tr><td class="py-2 px-4 font-semibold">OBSERVACIONES</td><td class="capitalize">Texto</td><td></td></tr>

      </tbody>
    </table>

</div>



{% endblock %}
